.btn { 
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
    font-family: inherit;
    cursor: pointer;
    text-decoration: none;
    border: none;
    color: white;
    background-color: black;
}

.btn:focus { 
    outline: none;
}

.btn:active { 
    transform: scale(1);
}

.btn-block { 
    display: block;
    width: 100%;
}
